/* Rotating */
.anim.bob {
	animation: Bobbing 1.5s ease-in-out infinite;
}

.anim.rotate {
	animation: rotate 20s linear infinite;
	transform-origin: center;
	overflow: hidden;
}

/* KFs */
@keyframes Bobbing {
	from {
		transform: translateY(2px);
	}
	50% {
		transform: translateY(-2px);
	}
	to {
		transform: translateY(2px);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
