@font-face {
	font-family: "HelveticaBlack";
	src: url(fonts/HelveticaNeueBlack.otf) format("opentype");
}

@font-face {
	font-family: "HelveticaBold";
	src: url(fonts/HelveticaNeueBold.otf) format("opentype");
}

@font-face {
	font-family: "HelveticaItalic";
	src: url(fonts/HelveticaNeueItalic.ttf) format("truetype");
}
@font-face {
	font-family: "HelveticaMedium";
	src: url(fonts/HelveticaNeueMedium.otf) format("opentype");
}
.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.poppins-thin-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.poppins-extralight-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: italic;
}

.poppins-light-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.poppins-medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
}

.poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.poppins-extrabold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
}

.poppins-black-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: italic;
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 900 */

.playfair-display-thin {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.playfair-display-regular {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.playfair-display-semibold {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.playfair-display-bold {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.playfair-display-extrabold {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

.playfair-display-black {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

/* italic playfair */

.playfair-display-thin-italic {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}

.playfair-display-regular-italic {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: italic;
}

.playfair-display-semibold-italic {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
}

.playfair-display-bold-italic {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: italic;
}

.playfair-display-extrabold-italic {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: italic;
}

.playfair-display-black-italic {
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: italic;
}

/*  <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 */

.montserrat-thin {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

.montserrat-extralight {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

.montserrat-light {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
}

.montserrat-regular {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.montserrat-medium {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

.montserrat-semibold {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

.montserrat-bold {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.montserrat-extrabold {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
}

.montserrat-black {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: normal;
}

/* italic montserrat */

.montserrat-thin-italic {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: italic;
}

.montserrat-extralight-italic {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: italic;
}

.montserrat-light-italic {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: italic;
}

.montserrat-regular-italic {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: italic;
}

.montserrat-medium-italic {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: italic;
}

.montserrat-semibold-italic {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: italic;
}

.montserrat-bold-italic {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: italic;
}

.montserrat-extrabold-italic {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: italic;
}

.montserrat-black-italic {
	font-family: "Montserrat", serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-style: italic;
}
